body {
    background-color: black;
}

#site {
display: flex;
flex-direction: column;
height: 98vh;
width: 100%;
margin: auto;
max-width: 1280px;
}

#header {
display: flex;
flex-direction: row;
margin-bottom: 0;
}

#links {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    background-color: black;
}

#links a, #links a:link, #links a:visited {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    background-size: 50px 50px;
}

#picture {
    align-items: right;
    background-color: black;
}

#headertext h1 {
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

#content {
flex-grow: 1;

background-repeat: no-repeat;
background-size: 50%;
background-position: center;
background-image: url("https://media.giphy.com/media/Vuw9m5wXviFIQ/giphy.gif");
background-color: black;
}

.rick_astley {
    margin: 0;
    padding: 0;
}


