#site {
display: flex;
flex-direction: column;
height: 98vh;
width: 100%;
}

#header {
display: flex;
flex-direction: row;
flex-grow: 0;
margin-bottom: 0;
}

#links {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    background-color: black;
}

#links a {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

#picture {
    flex-grow: 0;
    align-items: right;
}

#headertext h1 {
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

#content {
flex-grow: 1;
background-color: gray;
margin-top: -5px;
}

.rick_astley {
    margin: 0;
    padding: 0;
}

