body {
    background-color: black;
    margin: 0;
    padding: 0;
    border: 0;
}

#merchsite {
display: flex;
flex-direction: column;
height: 2000px;
width: 100%;
margin: auto;
max-width: 1280px;
border-left: 1px solid dimgray;
border-right: 1px solid dimgray;
}

#indexsite {
display: flex;
flex-direction: column;
height: 1050px;
width: 100%;
margin: auto;
max-width: 1280px;
border-left: 1px solid dimgray;
border-right: 1px solid dimgray;
}

#header {
display: flex;
flex-direction: row;
margin-bottom: 0;
flex-grow: 0;
flex-shrink: 0;
position: fixed; 
border-bottom: solid 2px gray;
background-color: black;   
}

#links {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    background-color: black;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    margin-right: 30px;
}

#we_are_astley {
    flex-grow: 5;
}

#we_are_astley p {
    text-align: center;
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: white;
}

.home {
    width: 300px;
    height: 150px;
    opacity: 0.4;
}

#links a, #links a:link, #links a:visited .graydesign {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color:   dimgray;
    background-size: 50px 50px;
    padding: 3px;
    width: 120px;
    border: 8px outset dimgray;
    margin-left: 20px;
    margin-right: 20px; 

}

#picture {
    align-items: right;
    background-color: black;
}

#headertext h1 {
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

.rick_astley {
    margin: 0;
    padding: 0;
}
#contentrow_1 img{
    height: 100%;
    width: 100%;
}
#content {
    margin-top: 152px;
}


#contentrow_2 {
    display: flex;
    flex-direction: row;
}

.image {
    height: 100%;
    width: 100%;
}

#livestream {
    margin: 2px;
}

#todayshow_1 {
    margin: 2px;
}

#contentrow_2 #livestream a, #livestream a:link, #livestream a:visited p{
    color: white;
    text-decoration: none;
    margin-top: -104px;
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.7;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    padding-top: 10px;
    width: 100%;
}


#contentrow_2 #todayshow_1 a, #todayshow_1 a:link, #todayshow_1 a:visited p{
    color: white;
    text-decoration: none;
    margin-top: -104px;
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.7;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    padding-top: 10px;
    width: 100%;
}

#contentrow_2 #todayshow_2 a, #todayshow_2 a:link, #todayshow_2 a:visited p{
    color: white;
    text-decoration: none;
    margin-top: -104px;
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.7;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    padding-top: 10px;
    width: 100%;
}

#itemlist {
    display: flex;
    flex-direction: column;
}

.items {
    
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 800px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    
}

a, a:link, a:visited {
    text-decoration: none;
    color: black;
}







.t-shirt {
    height: 75%;
    width: 45%;
    margin-right: 50px;
    margin-left: 20px;
}
.mug {
    height: 65%;
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
}

.Price {
    text-align: center;
    font-size: 70px;
    color: red;
    font-family: sans-serif;
}

.info {
    display: flex;
    flex-direction: column;
}

.Title {
    text-align: center;
    font-size: 40px;
    color: black;
    font-family: sans-serif;
}